<div data-role="header">
        <a id="back" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">Tilbake</a>
        <h1>Detaljer</h1>
        <a id="next" data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">Neste</a>
</div>
<div data-role="content">
    <div class="gmailstyletest">
        <div>
            <label for="form_title">Tittel</label>
            <input data-role="none" type="text" name="title" id="form_title" placeholder="Vennligst legg inn en tittel" value="<%= title %>" required>
        </div>

        <div>
            <%= categories %>
        </div>

        <div class="noborder">
            <label for="form_detail">Detaljer</label>
            <textarea data-role="none" name="detail" id="form_detail" placeholder="Vennligst legg inn detljer for problemet." required><%= details %></textarea>
        </div>
    </div>
</div>
