<div id="submit-header" data-role="header">
    <h1>Dine detaljer</h1>
</div>

<div data-role="content">
    <div id="errors"></div>
    <form id="passwordForm" name="passwordForm">
    <div id="password_row">
        <p class="notopmargin">
        Skriv inn et passord for kontoen din. Dette vil ikke bli aktivert før du klikker lenken i bekreftelsesmeldingen
        </p>
        <div class="inputcard">
            <div>
                <input data-role="none" type="password" value="" name="password" id="form_password" placeholder="Ditt passord" required>
            </div>
        </div>
        <div class="noborder">
            <input data-role="button" data-theme="a" type="submit" id="continue" name="report" value="Fortsett">
        </div>
    </div>
    </form>
</div>
