<div id="report-created-header" data-role="header">
    <a class="ui-btn-left">Hjem</a>
    <h1>Rapport laget</h1>
</div>
<div data-role="content">
    <% if ( typeof email_confirm != 'undefined' && email_confirm === 1 ) { %>
    <h3>Bekreftelses e-post sent</h3>

    <p>
    Vi har sendt deg en bekreftelses-epost som kan ta noen minutter å ankomme. Når det kommer, klikk lenken i e-posten for å bekrefte rapporten.
    </p>
    <% } else { %>
    <h3>Takk. Din rapport vil bli sendt til myndighetene umiddelbart.</h3>

    <p class="center"><input type="button" data-theme="a" id="open_report" value="Se det på nettstedet"></p>
    <% } %>


    <div class="bottom-btn">
        <input type="button" id="id_report_another" data-theme="a" value="Lag ny rapport" >
    </div>
</div>
